# Banco de Dados
DB_PASSWORD=neto2024caminhar

# Seguranca
SECRET_KEY=sua-chave-secreta-aqui-mude-em-producao
TURNSTILE_SITE_KEY=sua-site-key-do-cloudflare-turnstile
TURNSTILE_SECRET_KEY=sua-secret-key-do-cloudflare-turnstile

# API URL (deixe vazio para usar proxy do nginx em produção)
API_URL=
