version: '3.8'

services:
  backend:
    build: ./backend
    container_name: neto-backend
    ports:
      - "8001:8001" # <--- CORREÇÃO: Porta Externa 8001 >>> Porta Interna 8001
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: neto-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always